#content {
  padding: 50px 0;
}

#content .feedback__title {
  color: var(--primary-color);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

#content .feedback__desc {
  text-align: center;
  margin-top: 24px;
}

#content .feedback__form {
  text-align: center;
}

#content .btn-check {
  display: none;
}

#content .feedback__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content .check-group {
  margin-top: 24px;
}

#content .check-group:nth-child(4) {
  margin-left: auto;
}

#content .check-group:last-child {
  margin-right: auto;
}

#content .feedback__image {
  cursor: pointer;
  transition: all 0.3s linear;
}

#btn-check1:checked + label .feedback__image,
#btn-check2:checked + label .feedback__image,
#btn-check3:checked + label .feedback__image,
#btn-check4:checked + label .feedback__image,
#btn-check5:checked + label .feedback__image {
  border: 5px solid var(--primary-color);
  cursor: default;
}

#content .line {
  margin: 24px auto;
  width: 50%;
}

#content .feedback__form-comment {
  outline: none;
  width: 50%;
  padding: 10px 15px;
  border: 3px solid #eee;
  transition: all 0.3s linear;
}

#content .feedback__form-comment:focus {
  border-color: var(--primary-color);
}

#content .btn-group {
  margin-top: 24px;
}

#content .btn-group .btn {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid lightgray;
  background-color: #fff;
  min-width: 100px;
  margin-left: 10px;
  transition: all 0.3s linear;
}

#content .btn-group .btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }

  /* feedback */
  #content .feedback {
    padding: 0 8px;
  }

  #content .check-group {
    margin-top: 8px;
  }

  #content .line,
  #content .feedback__form-comment {
    width: 100%;
  }

  #content .btn-group {
    text-align: right;
    margin-top: 8px;
  }
}
