* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  text-align: center;
  background-size: cover;
}

header .text-group {
  padding-left: 30px;
  width: 300px;
}

header .text-group .header-title {
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 40px;
}

header .text-group .header-desc {
  border-top: 2px solid #fff;
  padding-top: 5px;
  font-size: 20px;
}

header .search-group {
  padding-right: 100px;
}

header .search-group .search-box {
  padding: 15px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px #999;
  outline: none;
  border: none;
  width: 250px;
}

header .search-group .search-btn {
  background: rgb(135, 159, 226);
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 5px 5px 10px #000;
}
/* end header */

/* nav */
nav {
  background: #999;
}

nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .nav-menu .nav-item {
  font-variant: small-caps;
  padding: 10px 40px;
  list-style-type: none;
}

nav .nav-menu .nav-item:hover {
  background: #000;
  cursor: pointer;
}

nav .nav-menu .nav-item a {
  color: #fff;
  text-decoration: none;
}

nav .nav-menu .nav-item.container {
  position: relative;
}

nav .nav-menu .nav-item .sub-menu {
  position: absolute;
  list-style-type: none;
  top: 100%;
  left: -10px;
  right: -10px;
  background: #999;
  border-radius: 2px;
  overflow: hidden;
  display: none;
  z-index: 1;
}

nav .nav-menu .nav-item .sub-menu .sub-menu-item {
  padding: 10px;
}

nav .nav-menu .nav-item.container:hover .sub-menu {
  display: block;
}

nav .nav-menu .nav-item.container .sub-menu .sub-menu-item:hover {
  background: #000;
  cursor: pointer;
}
/* end nav */

/* content */
.main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main .content-group {
  height: 430px;
  color: #fff;
  font-variant: small-caps;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #999;
  box-shadow: 0 0 5px #999;
  position: relative;
}

.main .content-group .text {
  position: absolute;
  top: 15px;
  left: 48%;
  right: 15px;
  font-size: 20px;
}

.main .content-group .content-img {
  height: 100%;
  padding: 5px;
  border-radius: inherit;
  background-size: cover;
}

.main .content-img-1 {
  background: url("img/content.jpg");
}

.main .content-img-2 {
  background: url("img/content2.jpg");
}

.main .content-img-3 {
  background: url("img/content3.webp");
}

.main .content-img-4 {
  background: url("img/content4.jpg");
}
/* end content */

/* footer */
footer {
  padding: 20px;
  text-align: center;
  background: rgb(135, 159, 226);
  color: #fff;
}
/* end footer */
