.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.container .btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 24px;
}

.container .btn.turn-x {
  background: #0ff;
  cursor: not-allowed;
}

.container .btn.turn-o {
  background: #ff0;
  cursor: not-allowed;
}
