body {
  overflow-x: hidden;
  position: relative;
}

.header {
  padding: 10px 80px;
  background-color: #fff;
  position: fixed;
  right: 0;
  left: 0;
}

.header__title,
.header__menu a {
  font-weight: bolder;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}

.header__title:hover,
.header__menu a:hover {
  color: #000;
}

.header__title {
  display: inline-block;
}

.header__menu {
  float: right;
  line-height: 40px;
}

.header__menu .header__menu-item {
  list-style-type: none;
  display: inline-block;
}

.header__menu .header__menu-item.container-sub-list {
  position: relative;
}

.header__menu-item.container-sub-list.active a {
  color: #000;
}

.header__menu .wrapper {
  position: absolute;
  left: -35px;
  width: 250px;
  top: calc(100% + 10px);
  background-color: var(--primary-color);
  transition: all 0.4s linear;
  height: 0;
  overflow: hidden;
}

.header__menu .header__menu-item.container-sub-list:last-child .wrapper {
  left: -120px;
  width: 300px;
}

.header__menu .wrapper::before {
  content: "";
  position: absolute;
  top: -29px;
  left: 35px;
  border: 15px solid;
  border-color: transparent transparent var(--primary-color) transparent;
}

.header__menu
  .header__menu-item.container-sub-list:last-child
  .wrapper::before {
  left: 190px;
}

.header__menu .wrapper::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  height: 15px;
}

.header__menu .num-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #000;
  color: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s linear;
}

.header__menu .num-items.active {
  background: var(--primary-color);
  color: #000;
}

.header__menu .no-cart-img,
.header__menu .sub-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__menu .no-cart-img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.header__menu .sub-list {
  background-color: #fff;
  z-index: 2;
  width: 200px;
  max-height: 120px;
  height: 0;
  overflow-y: scroll;
  display: none;
}

.header__menu .cart-list {
  width: 250px;
  top: 40%;
}

.header__menu .wrapper:has(.cart-list) .no-cart-img {
  top: 40%;
}

.header__menu .wrapper .wrapper-cost {
  position: absolute;
  left: 25px;
  bottom: 10px;
}

.header__menu .wrapper .buy-btn {
  position: absolute;
  right: 25px;
  bottom: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #000;
  color: var(--primary-color);
  cursor: pointer;
}

.header .love-list:has(li),
.header .cart-list:has(li) {
  display: block;
}

.header__menu .sub-list .sub-list-item {
  display: flex;
  height: 50px;
  position: relative;
  border-top: 1px solid #000;
}

.header__menu .sub-list .sub-list-item .trash-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.header__menu .sub-list .img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  padding: 5px;
}

.header__menu .cart-list .img {
  margin-left: 50px;
}

.sub-list .sub-list-item .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sub-list .sub-list-item .title,
.sub-list .sub-list-item .price {
  list-style-type: none;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 15px;
}

.cart-list .sub-list-item .wrapper-quantity {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

.cart-list .sub-list-item .wrapper-quantity .control-icon {
  cursor: pointer;
}

.footer {
  color: #fff;
  text-align: center;
  line-height: 200px;
  background: #000;
}
