* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: aqua;
  --padding: 40px;
}

.btn {
  padding: 15px 50px;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--padding);
  position: relative;
}

.header__navbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex: 0.9;
}

.header__navbar-item:last-child {
  display: none;
}

.header__navbar-link {
  text-decoration: none;
  color: #000;
}

.header__login {
  color: var(--primary-color);
}

.header__navbar-menu-icon {
  display: none;
  font-size: 32px;
}
/* end header */

/* banner */
.banner {
  position: relative;
  background: url("images/banner-bg.png") no-repeat;
  background-size: 100% cover;
  padding-top: 50%;
  text-align: center;
}

.banner-container {
  position: absolute;
  inset: 20% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.banner__title {
  font-size: 60px;
}

.banner__search-group {
  width: 60%;
  display: flex;
}

.banner__search-box {
  padding: 10px 15px;
  outline: none;
  border: none;
  flex: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.banner__search-btn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.banner__discover {
  width: fit-content;
  padding: 15px 30px;
}
/* end banner */

/* content */
.content {
  padding: var(--padding);
}

.content-item {
  margin-top: var(--padding);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-item__title::first-letter {
  text-transform: uppercase;
}

.content-item__title {
  font-size: 32px;
  font-weight: 450;
}

.content-item__desc {
  margin-top: 24px;
  margin-bottom: 12px;
}

.content-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.content-item:first-child {
  margin-top: 0;
}

.content-item > :first-child {
  padding-right: var(--padding);
}

.content-item:nth-child(2n) > :last-child {
  padding-right: var(--padding);
}

.content-item__img {
  width: 50%;
  object-fit: cover;
}
/* end content */

/* footer */
.footer {
  position: relative;
  background-color: var(--primary-color);
  color: #fff;
}

.footer__content {
  padding: var(--padding);
}

.footer__title {
  font-size: 28px;
}

.footer__desc {
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.footer__search-group {
  position: relative;
}

.footer__search-box {
  padding: 20px 15px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 15px;
}

.footer__search-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 var(--padding);
  border-radius: 15px;
}

.footer__copyright {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--padding) / 2) var(--padding);
}
/* end footer */
