/* about */
#content {
  padding: 50px 0;
}

#content .about-text__title {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 900;
  margin-bottom: 10px;
}

#content .about-text__subtitle {
  color: var(--primary-color);
  font-size: 20px;
  /* margin: 15px 0; */
}

#content .about-text__more {
  display: none;
}

#content .about-text__desc {
  margin: 10px 0;
}

#content .about-video {
  position: relative;
  border: 2px solid lightgray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content .about-video video {
  width: 80%;
  height: 80%;
}

#content .about-video .video-control-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 10px 15px;
  border-radius: 50%;
  background: var(--primary-color);
  transition: all 0.2s linear;
  opacity: 0;
  pointer-events: none;
}

#content .about-video .video-control-btn.active {
  z-index: 1;
  opacity: 1;
  cursor: pointer;
  pointer-events: initial;
}
/* end about */

/* gallery */
#content .gallery__title {
  color: var(--primary-color);
  margin: 20px 0;
  margin-left: 50%;
  display: inline-block;
  border-bottom: 2px double var(--primary-color);
  transform: translateX(-50%);
}

#content .gallery__food {
  position: relative;
  margin-top: 16px;
}

#content .gallery__food-img {
  width: 100%;
  object-fit: cover;
}

#content .img-toolbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#content .gallery__food .img-toolbar .img-toolbar-icon {
  cursor: pointer;
  padding: 5px 10px;
  display: inline-block;
}

#content .gallery__food .img-toolbar .heart-icon.active {
  color: #f00 !important;
}

#content .gallery__food .img-toolbar .cart-icon.active {
  color: #fde203 !important;
}

#content .gallery__food-text {
  background-color: #fff;
  margin-top: -5px;
  padding: 8px;
}

#content .gallery__food-title {
  font-size: 24px;
}
/* end gallery */
