.content {
  padding-top: 100px;
  text-align: center;
  background: #f9f9f9;
  margin-bottom: 20px;
}

.content__title {
  color: var(--primary-color);
  line-height: 70px;
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 2px double var(--primary-color);
  font-family: "Chewy", cursive;
}

.content__pic-3,
.content__pic-2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.check-group {
  margin: 10px;
  width: 30%;
}

.content__image {
  border: 1px solid gray;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}

.btn-check {
  display: none;
}

#btn-check1:checked + label .content__image,
#btn-check2:checked + label .content__image,
#btn-check3:checked + label .content__image,
#btn-check4:checked + label .content__image,
#btn-check5:checked + label .content__image {
  border: 5px solid var(--primary-color);
  cursor: default;
}

.line {
  width: 500px;
  margin: 20px auto;
}

#content__form-comment {
  width: 500px;
  display: block;
  margin: 20px auto;
  outline-color: var(--primary-color);
  padding: 10px;
  cursor: text;
}

.content__form .btn-group {
  width: 500px;
  text-align: right;
  margin: 0 auto;
}

.content__form .btn {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid lightgray;
  background-color: #fff;
  transition: all 0.2s linear;
  min-width: 100px;
  margin-left: 10px;
}

.content__form .btn:hover {
  background: var(--primary-color);
  color: #fff;
}
