.content {
  position: relative;
  width: 100%;
  background: url("../img/index-pic.jpg") no-repeat;
  padding-top: 500px;
  background-size: 100% auto;
  margin-bottom: 50px;
}

.content .content__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.content__text-title {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 42px;
  font-family: "Chewy", cursive;
  margin-bottom: 20px;
  text-shadow: 0 0 5px #999;
}

.content__text-subtitle,
.content__text-desc {
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 5px #999;
}

.content__text-subtitle {
  font-size: 20px;
  font-family: "Chewy", cursive;
  margin-bottom: 10px;
}
