.menu {
  background-color: orangered;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
}

.menu > ul {
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

a {
  font-size: large;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  color: white;
  font-variant: small-caps;
}

.menu > ul > li > a:hover {
  color: yellow;
}

li > ul {
  display: none;
  position: absolute;
  padding: 0;
  text-align: left;
  width: 200px;
}

li:hover > ul {
  display: block;
}

li > ul > li {
  display: block;
  border: 1px solid lightgray;
  border-top-width: 0;
}

li > ul > li > a {
  color: orangered;
}

li > ul > li:hover > a {
  color: white;
  display: block;
  background-color: orangered;
}
