.forget-password {
  width: 500px;
  margin: auto;
  padding: 8% 8px;
}

.forget-password .title {
  color: var(--primary-color);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.forget-password-input {
  width: 100%;
  outline-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
  transition: all 0.2s linear;
}

.forget-password-input:focus {
  outline-color: var(--primary-color);
}

.forget-password-btn {
  outline: none;
  border: 1px solid #000;
  padding: 10px 15px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  transition: all 0.2s linear;
}

.forget-password-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

.forget-password-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 18px;
}

.has-account,
.is-admin {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.2s linear;
}

.has-account:hover,
.is-admin:hover {
  color: blue;
}

/* responsive */
/* mobile */
@media (max-width: 739px) {
  .forget-password {
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
