.new-password {
  width: 500px;
  margin: auto;
  padding: 8% 8px;
}

.new-password .title {
  color: var(--primary-color);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.new-password-input {
  width: 100%;
  outline-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
  transition: all 0.2s linear;
}

.new-password-input:focus {
  outline-color: var(--primary-color);
}

.new-password-btn {
  outline: none;
  border: 1px solid #000;
  padding: 10px 15px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  transition: all 0.2s linear;
  margin-left: 100%;
  transform: translateX(-100%);
}

.new-password-btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* responsive */
/* mobile */
@media (max-width: 739px) {
  .new-password {
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
