* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffa400;
}

.hide-on-pc-tablet {
  display: none;
}

/* main */
.content.col {
  background-color: #f2f9fc;
}

.content-container.row {
  padding: 12px;
}

.content-item {
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

.content-item .money-icon {
  color: var(--primary-color);
}

.content-item .user-icon {
  color: #1caf82;
}

.icon-item {
  font-size: 24px;
}

.desc-item {
  font-weight: 550;
  margin-bottom: 20px;
}

.status-item {
  color: #999;
  margin-bottom: 20px;
}

.content-container .diagram {
  padding: 20px;
  background-color: #fff;
  margin-top: 12px;
}

.diagram .show {
  text-align: right;
  color: #999;
}

.show-select {
  border: none;
  outline: none;
  font-weight: 600;
}

.diagram .vertical {
  font-size: 18px;
  color: #999;
  margin-top: 20px;
  position: relative;
}

.diagram .vertical::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 92%;
  height: 1px;
  background-color: #999;
  transform: translateY(-50%);
}

.diagram .dates {
  list-style: none;
  display: flex;
  margin-left: 12%;
  padding-top: 2%;
  width: 84%;
  justify-content: space-between;
  color: #999;
  font-size: 18px;
  position: relative;
}

.diagram .columns {
  position: absolute;
  left: -3%;
  right: -3%;
  bottom: 127%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.columns .column {
  display: flex;
  align-items: flex-end;
}

.columns .sold-column {
  background-color: var(--primary-color);
  width: 45px;
  margin-right: 10px;
  height: calc(var(--value) * 20px);
}

.columns .custom-column {
  background-color: #1caf82;
  width: 45px;
  height: calc(var(--value) * 20px);
}

.diagram .notes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.notes .sold-note {
  padding: 10px 15px;
  margin-right: 20px;
  background-color: #ffa40026;
}

.sold-note .sold-note-icon {
  color: var(--primary-color);
  margin-right: 10px;
}

.notes .custom-note {
  padding: 10px 15px;
  background-color: #1caf8226;
}

.custom-note .custom-note-icon {
  color: #1caf82;
  margin-right: 10px;
}

.notes .note-text {
  font-weight: 600;
  font-size: 18px;
}
/* end main */

/* responsive */
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .diagram .columns {
    bottom: 131%;
  }

  .columns .sold-column {
    width: 30px;
    margin-right: 5px;
  }

  .columns .custom-column {
    width: 30px;
  }
}

/* mobile */
@media (max-width: 739px) {
  .hide-on-pc-tablet {
    display: block;
  }

  .content-container.row {
    padding: 0;
  }

  .content-container .diagram {
    padding: 8px;
  }

  .diagram .vertical::before {
    width: 90%;
  }

  .diagram .dates {
    text-align: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 2%;
    margin-left: 0;
    width: 100%;
  }

  .diagram .columns {
    bottom: 120%;
    left: 10%;
    right: 0;
  }

  .columns .sold-column {
    width: 20px;
    margin-right: 2px;
  }

  .columns .custom-column {
    width: 20px;
  }

  .diagram .notes {
    flex-direction: column;
  }

  .notes .sold-note {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .notes .note {
    width: 100%;
  }
}
