.about {
  background: #f9f9f9;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.about-text__title,
.about-text__subtitle {
  color: var(--primary-color);
  font-family: "Chewy", cursive;
}

.about-text__title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 10px;
}

.about-text__subtitle {
  font-size: 20px;
  margin: 15px 0;
}

.about-text__desc {
  margin: 10px 0;
}

.about-img img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid lightgray;
}

.gallery {
  text-align: center;
  padding: 100px;
  background: rgba(0, 0, 0, 0.05);
}

.gallery__title {
  color: var(--primary-color);
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 2px double var(--primary-color);
}

.gallery__food {
  transition: all 0.2s linear;
  background-color: #fff;
  width: 33%;
  margin: 15px;
}

.gallery__food:hover {
  transform: scale(1.1);
}

.col-3 {
  display: flex;
}

.col-2 {
  display: flex;
}

.col-2 .gallery__food {
  width: 50%;
}

.col-2 .gallery__food:hover {
  transform: scale(1.07);
}

.gallery__food-img {
  width: 100%;
  cursor: pointer;
}

.gallery__food-text {
  cursor: pointer;
  padding: 20px;
}

.gallery__food-title {
  color: var(--primary-color);
}

.gallery__food-title,
.gallery__food-desc {
  cursor: pointer;
  text-align: left;
}

.gallery__food-desc {
  padding-top: 0;
  margin-top: 10px;
}
